# DE Exp Engg Core Reviewers are default owners, add other relevant teams to the owners list
# E.g. 
# * @CognizantCodeHub/de-expengg-core-reviewers @CognizantCodeHub/de-expengg-web-react-reviewers
* @CognizantCodeHub/de-expengg-core-reviewers
